.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title {
  text-align: center;
  font-size: 8rem;
}

.subHeading {
  font-size: 4rem;
  margin-left: 2rem;
  text-decoration: underline;
}

.subHeading:hover {
  color: blue;
}
.description {
  font-size: 1.3rem;
}

.productImage {
  max-width: 30rem;
}

.search {
  margin-left: 2rem;
}
